.navbar {
    display: flex;
    align-items: stretch;
    /*background-color: rgb(25, 91, 156);*/
    background-color: darkgoldenrod;
    flex-direction: row;
    margin-bottom: 18px;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.5);
  }

  .navbar-content {
    display: flex;
    align-items: stretch;
    justify-content: center;
    /*background-color: dodgerblue;*/
    background-color: darkgoldenrod;
    flex-direction: column;
    font-size: 18px;
    line-height: 40px;
  }

  .navbar-section {
    /*background-color: dodgerblue;*/
    background-color: darkgoldenrod;
    color: white;
    margin: 0px;
    text-align: center;
    line-height: 40px;
    font-size: 18px;
    flex-direction: row;
    display: inline;
    flex-grow: 1;
    padding-left: 0px;
    padding-right: 0px;
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-direction: column;
  }

  .navbar-separator {
    /*background-color: #1e90ff;*/
    background-color: darkgoldenrod;
    color: white;
    margin: 0px;
    text-align: center;
    line-height: 75px;
    flex-direction: row;
    display: inline;
    flex-grow: 1;
  }

  .navbar-link {
    display: block;
    line-height: 32px;
    padding: 4px;
    display: flex;
    flex-grow: 2;
    justify-content: center;
    align-items: center;
  }
  .navbar-link img {
    vertical-align: middle;
    padding: 4px;
    justify-content: center;
    align-items: center;
    /*margin: 4px;
    background-color: white;*/
  }
  .navbar-title {
    display: flex;
    padding: 4px;
    font-size: 36px;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
  }

  .navbar-link a {
    text-decoration: none;
    color: white;
  }
  .navbar-link.active {
    /*background-color: rgb(25, 91, 156);*/
    background-color: goldenrod;
  }
  .navbar-link:hover:not(.active):not(.icons) {
    /*background-color: rgb(95, 91, 156);*/
    background-color:black;
  }
  /*.navbar-link img:hover {
    background-color: goldenrod;
  }*/


@media(min-width: 750px) {
  .navbar-content {
    flex-direction: row;
    font-size: 14px;
    line-height: 64px;
  }
  .navbar-section {
    flex-direction: row;
    font-size: 14px;
    line-height: 64px;
    padding-left: 2px;
    padding-right: 2px;
    align-items: stretch;
  }
  .navbar-title {
    font-size: 24px;
  }
  .navbar-link {
    display: inline;
    line-height: 64px;
  }
  .navbar-link img {
    width: 32px;
  }
}

@media(min-width: 1000px) {
  .navbar-content {
    flex-direction: row;
    font-size: 18px;
    line-height: 64px;
  }
  .navbar-section {
    flex-direction: row;
    font-size: 18px;
    line-height: 64px;
    padding-left: 4px;
    padding-right: 4px;
    align-items: stretch;
  }
  .navbar-title {
    font-size: 36px;
  }
  .navbar-link {
    display: inline;
    line-height: 64px;
  }
  .navbar-link img {
    width: 48px;
  }
}  
